@using PhoneStore.WebUI.Models
@using PhoneStore.WebUI.HtmlHelpers
@model PhonesListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Phones)
{
    <div class="well">
        @Html.Partial("PhoneSummary", p)
    </div>
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


